{%load static%}
<!DOCTYPE html>
<HTML>
<HEAD>
    <Title>LANDING PAGE</Title>
    <link href = "{%static 'css/base.css'%}" rel = "stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Knewave&family=Permanent+Marker&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet"> 
</HEAD>
<BODY>  
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a href='Harrier' class="w3-bar-item w3-button w3-padding-large"><H4 class = "TitleFont">HARRIER</H4></a>
            <a href="Hector" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><h4  class = "TitleFont">HECTOR</h4></a>
          <a href="Fortuner" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><H4  class = "TitleFont">FORTUNER</H4></a>
          <a href="XUV500" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><H4  class = "TitleFont">XUV500</H4></a>
          <a href="Seltos" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><H4  class = "TitleFont">SELTOS</H4></a>
            <a  class="w3-padding-large w3-hover-red w3-hide-small w3-right"><h3 class = "Designer">TEAM MSAGSM</h3></a>
          </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-2">
            <div class = "hidden">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias bus asperiores repellat.
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-8">
            <div class = "hidden">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias bus asperiores repellat.
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias bus asperiores repellat.
            At vero eos Ot
            </div> 
            <div class = "TheTitle">
                Project DriveSense
            </div>
            <div class = "image">
              <img src = "{%static 'App_1/images/Title.jpg'%}">
            </div>
            <div class = "design">
              The OBD reader(On Board Diagnostics) can read important car data like battery,car engine temperature, odometer readings,Gear Selection and GPS which can be used for evaluating the driver and car performance which can be practically implemented with cars manufactured on or after 2008.
            </div>
            <br>
            <div class = "design">
              In this analysis we have simulated sample data which resembles the parameters given by the OBD device and using which the data has been processed accordingly. 
              <br>
              5 cars were considered after our research and their specific data can be found on the header.
              <br>
              The 5 chosen cars were
              <br>
              <ol>
                  <li> Tata Harrier</li>
                  <li> Mahindra XUV500</li>
                  <li> MG Hector</li>
                  <li> Toyota Fortuner</li>
                  <li> KIA Seltos</li>
              </ol>
            </div>
            <br>
            <hr>
            <footer>
            <p>Team MSAGSM | Designed by : Abhijith G
            <br>
            Contact  : <a href = "https://www.linkedin.com/in/abhijith-ganesh-1811a91a9/">Click Here<a></p>
           </footer> 
          </div>
        </div>
      </div>
</BODY>
</HTML>
